#presented{
  color: red;
  background-color:white;

}

#whereandwhen{
  float:left;
  width:40%;
  padding:2em;

}

#lunch{
  float:clear;
}
#about{
  float:left;
  width: 40%;
  padding:2em;
  }

header{
  text-align:center;

}
